*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #BDD3BE;
    padding: 30px 30px 30px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    padding: 15px 15px 15px;
}

.wrapper {
    width: 100%;
    
}
.wrapper p:first-of-type {
    text-indent: 0;
    padding-top: 15px;
    padding-bottom: 10px;
  }
.wrapper p{
    padding-bottom: 10px;
    text-indent: 2ch;
    font-size: 16px;
}

.members {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tagline h4 {
    /* padding-top: 15px; */
    padding-bottom: 15px; 
    text-align: center;
}
.indent {
	padding: 40px;
}

.img-banner-small {
    display: block;
    width:100% 
     
}
.img-banner-big {
    display: none;
    width:100%;
    
 }
.img-dulcet {
    display: block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
 }  
 /* audio {
    width: 300px;
 } */

 .songtitle {
    padding-top: 3px;
    text-align: center;
    font-size: 12px;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 5px;
 }

 .phone_player {
    display: block;
 }
 .ipad_player {
    display: none;
 }
 .listing h4{
    font-size:24px;
    padding-top: 15px;
    padding-bottom: 25px;
 }
.schedule {
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.schedule table {
	    border-collapse: separate;
    border-spacing: 0 90px;
    }
 .schedule td{
    padding-bottom: 5px;
    padding-right: 3px;
}
.schedule h4{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*.schedule tr{
    :nth-child(even) {background:silver;}
}*/

h4 {
    padding-top: 10px;
    padding-bottom: 5px;
}
/* Tablet Sized: */

@media only screen and (min-width: 768px) {
    .img-banner-small {
        display: none; 
         
    }
    .img-banner-big {
        display: block;
        
     }
    .img-dulcet {
        width: 400px;
          
     } 
     .wrapper p{
        padding-bottom: 5px;
        font-size: 24px;
    } 
    .members {
        text-align:center;
        font-size: 24px;
    }
    
    .tagline {
        padding-top: 5px; 
        padding-bottom: 15px; 
        font-size: 24px; 
    }
    .phone_player {
        display: none;
     }
     .ipad_player {
        display: block;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
     } 
     .ipad_player td{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
     }
     .ipad_player audio{
        width: 400px;
     }
     .songtitle {
        padding-top: 3px;
        text-align: center;
        font-size: 18px;
        font-family:'Courier New', Courier, monospace;
        padding-bottom: 5px;
     }
    
    .schedule tr {
        font-size: 24px;
    }
    
